
<html lang="en">
  <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="create-account.css">
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      >
      <script src="index.js"></script>
      <title>Register now!</title>
  </head>
  <body>
      <main>
          <header>SonnySwap</header>
          <h1 id="create"><em>Create your SonnySwap account</em></h1>
          <form id="create-form">
              <section class="create-page">
                  <p id="first">First Name</p>
                  <input type="text" id="first-text" name="" placeholder="Enter first name...">
                  <p id="last">Last Name</p>
                  <input type="text" id="last-text" name="" placeholder="Enter last name...">
                  <p id="username">Username</p>
                  <input type="text" id="last-text" name="" placeholder="Please choose a username...">
                  <p id="email">Email Address</p>
                  <input type="text" id="email-text" name="" placeholder="Enter your email address...">
                  <p id="pass">Password</p>
                  <input type="password" name="" id="pass-text" placeholder="Enter password...">
                  <section class="button-container">
                      <button type="submit">Create account!</button>
                </section>
                  </section>
                  <p><em>Already have an account?</em><em> <a href="login.html">Log in!</em></a></p>
              </section>
          </form>
      </main>
  </body>
</html>