<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discontinued</title>
     <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
<nav class="navbar">
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('profile') }}">Profile</a>
</nav>



<h1>Discontinued Sonny Items</h1>
<ul>
    {% if items %}
        {% for item in items %}
        <li>
            <h2>{{ item.name }}</h2>
            <img src="{{ item.images }}" alt="{{ item.name }}">
            <p>Series: {{ item.series }}</p>
            <p>Category: {{ item.category }}</p>
            <p>Market Value: {{ item.mrk_value }}</p>
            <!-- add more details later -->
        </li>
        {% endfor %}
    {% else %}
        <p>No Discontinued Sonny items found.</p>
    {% endif %}
</ul>


</body>
</html>