<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <h4>{{msg}}</h4>
    {% endfor %}
{% endif %}
{% endwith %}
<a href="{{ url_for('logout') }}">Logout</a>
<nav class="navbar">
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('profile') }}">Profile</a></li>
    </ul>
</nav>

<ul>
    <li><a href="{{ url_for('common') }}">Common</a></li>
    <li><a href="{{ url_for('limited') }}">limited</a></li>
    <li><a href="{{ url_for('discontinued') }}">Discontinued</a></li>li>
    <li><a href="{{ url_for('secrets') }}">Secrets</a></li>
    <li><a href="{{ url_for('robbie') }}">Robbie</a></li>
</ul>
{% endblock %}
</body>
</html>