<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <header>SonnySwap</header>
</head>
<body>
<div class = "profile-container">
<div class = "profile-description">

</div>

</div>
<nav class="navbar">

    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('profile') }}">Profile</a>
    <a id="logout" href="{{ url_for('logout') }}">Logout</a>
    <a href="{{ url_for('favorites') }}">Favorites</a>

</nav>
<section>
    <h1>Your Profile</h1>
</section>
<section>
    <h1> Inventory </h1>
    <div class="inventory-items">
        {% for item in items %}
            <div class="sonny-item">
                <img src="{{ item.images }}" alt="{{ item.name }}">
                <h4>{{ item.name }}</h4>
            </div>
        {% else %}
            <p>No items found.</p>
        {% endfor %}
    </div>

<h2> Create new listing </h2>
<div class="create-form">
    <form action="/add_inventory" method="post">
    <input aria-label="Item name" type="text" name="name" placeholder="Name" required>
    <input aria-label="Series name" type="text" name="series" placeholder="Series">
    <select aria-label="Category name" name="category">
        <option value="" disabled selected>Category</option>
        <option value="Common">Common</option>
        <option value="Limited">Limited</option>
        <option value="Discontinued">Discontinued</option>
        <option value="Secrets">Secrets</option>
        <option value="Robbie">Robby</option>
    </select>
    <input aria-label="market value" type="number" step="0.01" name="mrk_value" placeholder="Market Value">
    <input aria-label="image url" type="text" name="images" placeholder="Image URL">
    <input aria-label="checkbox" type="checkbox" name="favorite" value="true"> Favorite<br>
    <button id="submit" type="submit">Add Inventory</button>
    </form>
</div>

</section>
</body>
</html>